<h1>Appointments for <%= @user.username %></h1>

<p><%= link_to 'Create New Appointment', new_user_appointment_path(@user) %></p>

<table>
  <th>
    <td>Doctor</td>
    <td>Date</td>
  </th>

  <tr>
    <% @appointments.each do |appointment| %>
    <td><%= appointment.doctor.name %></td>
    <td><%= appointment.day %></td>
    <% end %>
  </tr>
</table>
